body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  height: 400px;
}

.logo-and-links,
.text-and-image {
  display: flex;
  justify-content: space-evenly;
}

.links,
.logo {
  display: flex;
  padding: 0;
}

.links {
  gap: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  align-items: center;
  font-size: 24px;
  color: #f9faf8;
}

.text-and-image {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  gap: 20px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex-basis: 450px;
  color: #e5e7eb;
}

.left {
  gap: 15px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #858b92;
  color: #e5e7eb;
  font-weight: bold;
}

.first-button {
  border: 1px solid #3882f6;
  max-width: 80px;
  border-radius: 8px;
  padding: 5px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 800;
}

.main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
}

.main-container-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 35px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 154px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-bottom: 50px;
}

.item-border {
  border: 2px solid #3882f6;
  border-radius: 10%;
  width: 150px;
  height: 150px;
}
.item-text {
  font-size: 18px;
  color: grey;
}

.main-container-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 20px;
  background-color: #e5e7eb;
  gap: 15px;
}

.text {
  max-width: 100%;
  max-height: 250px;
  justify-content: center;
  font-size: 36px;
  margin: 0 100px;
  text-align: left;
}

.thor {
  font-size: 24px;
  margin-left: auto;
  font-weight: 700;
}

.main-container-four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.blue-container {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 20px;
}

.blue-container-left,
.blue-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.blue-container-left h1,
.blue-container-left p {
  margin: 0;
}

.blue-container-left h1 {
  color: #f9faf8;
}

.blue-container-left p {
  color: #e5e7eb;
}

.blue-container-button {
  display: flex;
  flex-shrink: 0;
  margin: 20px;
  padding: 3px 15px;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  border-radius: 5px;
  background-color: inherit;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
